.sidenav {
  z-index: 5;
}

/* .react-time-picker__clock { display: none; } */

.react-timerange-picker__wrapper {
  border:none;
}

.container-fluid div.sc-dmctIk{
  overflow: inherit !important;
  position: static;
}